@charset "UTF-8";

@font-face {
  font-family: "Bradley";
  font-display: swap;
  src: url("../fonts/Bradley-Regular.woff") format("woff"), url("../fonts/Bradley-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header {
  padding: 33px 0;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 1;
}

.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search {
  margin-right: 25px;
  cursor: pointer;
}

.header__cart {
  position: relative;
  margin-right: 25px;
  cursor: pointer;
}

.header__cart span {
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #c72535;
  padding: 1px 3px;
  border-radius: 50%;
}

.header__login {
  cursor: pointer;
}

.header .burger {
  display: block;
  width: 30px;
  height: 20px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  display: none;
}

.header .burger span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.header .burger span:before,
.header .burger span:after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.header .burger span:after {
  top: auto;
  bottom: -8px;
}

.header .nav-header__link {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #030d15;
  position: relative;
  padding-right: 7px;
  transition: all 0.3s ease 0s;
}

.header .nav-header .submenu__back {
  display: none;
}

.promo {
  padding-top: 50px;
}

.promo__wrap {
  display: flex;
  justify-content: space-between;
}

.promo__content {
  max-width: 555px;
  padding-top: 72px;
}

.promo__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
}

.promo__title {
  font-weight: 600;
  font-size: 61px;
  line-height: 73px;
  margin-top: 3px;
}

.promo__title span {
  color: #247cc0;
}

.promo__text {
  font-size: 20px;
  line-height: 27px;
  color: #030d15;
  opacity: 0.6;
  margin-top: 29px;
}

.promo__footer {
  margin-top: 52px;
  display: flex;
}

.promo__btn {
  margin-right: 30px;
  background: #247cc0;
  padding: 16px 35px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__prices {
  display: flex;
  align-items: center;
}

.promo__price {
  margin-right: 19px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #030d15;
}

.promo__oldprice {
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  text-decoration-line: line-through;
}

.promo__img {
  position: relative;
  min-height: 611px;
  width: 100%;
}

.promo__img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.brands {
  padding: 76px 0;
}

.brands__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brands__item {
  margin: 0 40px 20px 0;
}

.catalog {
  background: linear-gradient(to bottom, #e5e5e5, #fff);
  padding: 110px 0 100px;
}

.catalog__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.catalog__item:last-child {
  margin-right: 0;
}

.item-catalog__img {
  width: 262px;
  cursor: pointer;
  background: #fff;
  margin-right: 30px;
  position: relative;
}

.item-catalog__img::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 20px;
  top: -19px;
  right: -16px;
  background: url("../img/icons/herader/cart.png") 50% 50% no-repeat, #fff;
}

.item-catalog__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030d15;
}

.item-catalog__descr {
  font-size: 14px;
  line-height: 21px;
  color: #030d15;
  opacity: 0.6;
  margin-top: 9px;
}

.item-catalog__prices {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.item-catalog__price {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #030d15;
  margin-right: 10px;
}

.item-catalog__oldprice {
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}

.item-catalog__raiting {
  margin-top: 15px;
  background: url("../img/raiting.png") 0 0/contain no-repeat;
  width: 65px;
  height: 12px;
  cursor: pointer;
}

.show {
  padding-top: 40px;
}

.show__wrap {
  display: flex;
  justify-content: space-between;
}

.show__item {
  flex: 0 1 50%;
  height: 296px;
  margin-right: 30px;
  display: flex;
  background: url("../img/show_bg.jpg") 0 0/cover no-repeat;
  padding-top: 75px;
  padding-left: 35px;
}

.show__item:last-child {
  margin-right: 0;
}

.item-show__today {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #f4f9fc;
  opacity: 0.6;
}

.item-show__name {
  font-weight: 600;
  font-size: 31px;
  line-height: 40px;
  color: #f4f9fc;
  margin-top: 5px;
}

.item-show__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  color: #f4f9fc;
  margin-top: 7px;
}

.item-show__img {
  position: relative;
}

.item-show__img .drone {
  position: absolute;
  top: -92px;
  right: -301px;
}

.item-show__img .camera {
  position: absolute;
  top: -34px;
  right: -251px;
}

.about {
  margin-top: 250px;
  padding-bottom: 80px;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
}

.about__img {
  background: url("../img/about_bg_back.png") 0 100%/contain no-repeat;
  margin-right: 130px;
  margin-top: -150px;
}

.about__img img {
  border-radius: 30%;
}

.about__titlewrap {
  margin-top: -100px;
}

.about__text {
  font-size: 16px;
  line-height: 24px;
  color: #030d15;
  opacity: 0.6;
  margin-top: 115px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.about__list {
  margin-top: 40px;
}

.about__list li {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #030d15;
  position: relative;
  padding-left: 31px;
  margin-bottom: 20px;
}

.about__list li:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("../img/about-list-style.png") 0 0 no-repeat;
}

.products {
  padding-top: 45px;
}

.products__uptitle {
  text-align: center;
}

.products__title {
  text-align: center;
}

.products__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 22px;
}

.products__tab {
  margin: 0 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #030d15;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.products__tab_active {
  color: #c72535;
}

.products__tab:hover {
  color: #c72535;
}

.products__catalog {
  margin-top: 50px;
}

.products__view {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #030d15;
  margin: 20px 0 140px 0;
}

.products__view::after {
  display: inline-block;
  content: "";
  background: url("../img/view_arrow.png") 15px top no-repeat;
  width: 42px;
  height: 11px;
}

.catalog-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.catalog-products__item {
  position: relative;
  padding: 35px 35px 28px;
  flex: 0 1 360px;
  margin: 0 15px 30px 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.catalog-products__item:hover .actions__items,
.catalog-products__item:hover .color-product {
  opacity: 1;
  visibility: visible;
}

.catalog-products__item:hover {
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(192, 192, 192, 0.07), 0px 41.7776px 33.4221px rgba(192, 192, 192, 0.0503198), 0px 22.3363px 17.869px rgba(192, 192, 192, 0.0417275), 0px 12.5216px 10.0172px rgba(192, 192, 192, 0.035), 0px 6.6501px 5.32008px rgba(192, 192, 192, 0.0282725), 0px 2.76726px 2.21381px rgba(192, 192, 192, 0.0196802);
}

.catalog-products__item:hover .catalog-products__footer {
  transform: scale(0.95);
}

.catalog-products__top {
  position: relative;
}

.catalog-products__discount {
  font-size: 16px;
  line-height: 27px;
  color: #030d15;
}

.catalog-products__img {
  height: 313px;
  display: flex;
  align-items: center;
}

.catalog-products__img img {
  max-width: 100%;
}

.catalog-products__name {
  display: block;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030d15;
}

.catalog-products .actions__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.catalog-products__footer {
  transition: all 0.3s;
}

.catalog-products__prices {
  display: flex;
  align-items: center;
}

.catalog-products__price {
  margin-right: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #030d15;
}

.catalog-products__price span {
  color: #030d15;
  opacity: 0.5;
}

.catalog-products__oldprice {
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}

.catalog-products__raiting {
  margin-top: 7px;
}

.catalog-products .catalog-products__colors {
  display: flex;
  position: absolute;
  bottom: 38px;
  right: 35px;
}

.catalog-products .color-product {
  width: 14px;
  height: 14px;
  margin-left: 20px;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.catalog-products .color-product:hover {
  transform: scale(1.3);
  border: 1px solid #000;
}

.catalog-products .color-product_grey {
  background-color: #c3d7e5;
}

.catalog-products .color-product_black {
  background-color: #15151d;
}

.catalog-products .color-product_blue {
  background-color: #2f80ed;
}

.newshop {
  padding-bottom: 130px;
}

.newshop__uptitle {
  text-align: center;
}

.newshop__title {
  text-align: center;
}

.newshop__subtitle {
  text-align: center;
  margin: 0 auto;
  max-width: 457px;
}

.newshop__items {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.newshop__item {
  width: 360px;
  cursor: pointer;
  flex: 0 1 360px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 35px 35px 28px;
}

.newshop__item:hover .item-newshop__top,
.newshop__item:hover .actions__items {
  opacity: 1;
  visibility: visible;
}

.newshop__item:hover {
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(192, 192, 192, 0.07), 0px 41.7776px 33.4221px rgba(192, 192, 192, 0.0503198), 0px 22.3363px 17.869px rgba(192, 192, 192, 0.0417275), 0px 12.5216px 10.0172px rgba(192, 192, 192, 0.035), 0px 6.6501px 5.32008px rgba(192, 192, 192, 0.0282725), 0px 2.76726px 2.21381px rgba(192, 192, 192, 0.0196802);
}

.newshop__item:nth-child(1) {
  height: 330px;
}

.newshop__item:nth-child(2) {
  height: 252px;
}

.newshop__item:nth-child(3) {
  height: 432px;
}

.newshop__item:nth-child(4) {
  height: 456px;
}

.newshop__item:nth-child(5) {
  height: 252px;
}

.newshop__item:nth-child(6) {
  height: 354px;
}

.newshop__item:nth-child(7) {
  height: 252px;
}

.item-newshop {
  position: relative;
}

.item-newshop:nth-child(2) .item-newshop__img {
  margin: -10px 0 0 0;
}

.item-newshop:nth-child(3) .item-newshop__img {
  margin: 10px 0 0 0;
}

.item-newshop:nth-child(4) {
  margin-top: -100px;
}

.item-newshop:nth-child(4) .item-newshop__img {
  margin: 30px 0 0 0;
}

.item-newshop:nth-child(5) {
  margin-top: -180px;
}

.item-newshop:nth-child(5) .item-newshop__img {
  margin: -10px 0 0 0;
}

.item-newshop:nth-child(6) .item-newshop__img {
  margin: 15px 0 0 0;
}

.item-newshop:nth-child(7) {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.item-newshop:nth-child(7) .item-newshop__img {
  margin: 10px 0 0 0;
}

.item-newshop__top {
  position: absolute;
  top: 35px;
  left: 35px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.item-newshop__img {
  margin: 70px 0 70px 0;
  text-align: center;
}

.item-newshop__img img {
  max-width: 100%;
}

.item-newshop__prices {
  display: flex;
  align-items: center;
}

.item-newshop__price {
  margin-right: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #030d15;
}

.item-newshop__price span {
  color: #030d15;
  opacity: 0.5;
}

.item-newshop__oldprice {
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}

.item-newshop__raiting {
  margin-top: 7px;
}

.actions__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: absolute;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  left: 0px;
  right: 0px;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.forms {
  padding: 100px 0;
  background: linear-gradient(to bottom, #e6edf2, #f4f9fc);
}

.forms__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.forms__uptitle {
  font-size: 14px !important;
}

.forms__title {
  font-size: 25px !important;
  line-height: 43px !important;
}

.forms__text {
  margin-top: 8px;
  font-size: 14px;
  line-height: 21px;
  color: #030d15;
  opacity: 0.6;
  max-width: 360px;
}

.feed-form {
  margin-top: 30px;
  position: relative;
}

.feed-form input {
  position: relative;
  width: 475px;
  padding: 15px 0 15px 26px;
}

.feed-form input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: #030d15;
  opacity: 0.4;
}

.feed-form__btn {
  position: absolute;
  right: 0;
  position: absolute;
  width: 122px;
  height: 100%;
  background: #247cc0;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  padding: 75px 0 50px 30px;
  background: #030d15;
  color: #fff;
}

.footer__wrap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 30px;
}

.footer__logo {
  grid-column: 1 / 3;
}

.footer__text {
  margin-top: 22px;
  font-size: 14px;
  line-height: 23px;
  opacity: 0.6;
}

.footer__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px;
}

.footer__item {
  margin-bottom: 15px;
}

.footer__link {
  font-size: 14px;
  line-height: 23px;
  opacity: 0.6;
  color: #fff;
}

.footer__about {
  grid-column: 6 / 8;
  position: relative;
}

.footer__store {
  font-size: 14px;
  line-height: 23px;
  opacity: 0.6;
}

.footer__site {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 14px;
}

.footer__social {
  margin-top: 16px;
}

.footer__select {
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 18px;
  background: transparent url("../img/icons/footer/selct_lang.png") no-repeat;
  color: #fff;
  padding-left: 20px;
}

.footer__select option {
  color: #fff;
  margin-bottom: 5px;
  background: #030d15;
}

.social-footer {
  display: flex;
}

.social-footer__link {
  margin-right: 25px;
}

.simple-rating {
  position: relative;
  font-size: 20px;
  display: inline-block;
}

.simple-rating::before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #f0d0d0;
}

.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #c72535;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #a15b62;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  min-width: 320px;
  font-size: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

.uptitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
}

.title {
  font-weight: 600;
  font-size: 44px;
  line-height: 71px;
  color: #030d15;
}

@media (min-width: 768px) {
  .header .nav-header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .nav-header__items li:last-child:after {
    width: 0;
    height: 0;
  }

  .header .nav-header__link:hover {
    color: #247cc0;
  }

  .header .nav-header__item {
    position: relative;
    margin-right: 40px;
  }

  .header .nav-header__item:last-child {
    margin-right: 0;
  }

  .header .nav-header__item:hover .submenu {
    opacity: 1;
    visibility: visible;
  }

  .header .nav-header__item:hover .nav-header__link:after {
    transform: rotate(180deg);
    top: 9px;
  }

  .header .nav-header__item:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
    right: -7px;
    background: url("../img/icons/herader/arrow.png") no-repeat;
    transition: all 0.3s ease 0s;
  }

  .header .nav-header .submenu {
    position: absolute;
    top: 110%;
    left: -6px;
    width: 80px;
    z-index: 100;
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
  }

  .header .nav-header .submenu__item {
    transition: all 0.3s ease 0s;
  }

  .header .nav-header .submenu__item:hover {
    background-color: #dfd3d3;
  }

  .header .nav-header .submenu__link {
    display: inline-block;
    padding: 8px 6px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    color: #030d15;
  }

  .catalog {
    padding-bottom: 30px;
  }
}

@media (max-width: 1340px) {
  .promo__img {
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .promo__img {
    padding: 0 60px;
  }

  .promo__img img {
    object-fit: cover;
  }

  .show__wrap {
    display: block;
    margin: 0 auto;
  }

  .show__item {
    overflow: hidden;
    max-width: 555px;
    margin: 0 auto 30px auto !important;
  }

  .about__img {
    margin-right: 30px;
    background: none !important;
  }

  .newshop .item-newshop {
    display: flex;
    flex-direction: column;
    height: 391px;
  }

  .newshop .item-newshop:nth-child(2) .item-newshop__img {
    margin: 40px 0 0 0;
  }

  .newshop .item-newshop:nth-child(3) .item-newshop__img {
    margin: 0;
  }

  .newshop .item-newshop:nth-child(4) {
    margin-top: 0;
  }

  .newshop .item-newshop:nth-child(4) .item-newshop__img {
    margin: 0;
  }

  .newshop .item-newshop:nth-child(5) {
    margin-top: 0;
  }

  .newshop .item-newshop:nth-child(5) .item-newshop__img {
    margin: 60px 0 0 0;
  }

  .newshop .item-newshop:nth-child(6) .item-newshop__img {
    margin: 30px 0 0 0;
  }

  .newshop .item-newshop:nth-child(7) {
    position: static;
    transform: translateX(0%);
  }

  .newshop .item-newshop:nth-child(7) .item-newshop__img {
    margin: 60px 0 0 0;
  }
}

@media (max-width: 992px) {
  .promo__content {
    padding-top: 0;
  }

  .promo__title {
    font-size: 55px;
    line-height: 65px;
  }

  .promo__img {
    min-height: 0;
  }

  .promo__img img {
    right: -50px;
  }

  .catalog__items {
    flex-wrap: wrap;
  }

  .catalog__item {
    margin-bottom: 40px;
  }

  .about {
    margin-top: 200px;
  }

  .about__wrap {
    display: block;
  }

  .about__img {
    display: none;
  }

  .about__uptitle {
    text-align: center;
  }

  .about__title {
    text-align: center;
  }

  .about__text {
    margin-top: 50px;
  }

  .products__view {
    margin-bottom: 80px;
  }

  .footer__logo {
    grid-column: 1 / -1;
    margin-bottom: 30px;
  }

  .footer__information {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .footer__menu {
    grid-column: 5 / 8;
    grid-row: 2 / 3;
  }

  .footer__links {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  .footer__about {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .footer__select {
    left: auto;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .header .nav-header__items {
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    max-width: 300px;
    width: 80%;
    height: 100vh;
    background-color: #fff;
    box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.7);
    transform: translateX(-110%);
    transition: all 0.3s ease 0s;
  }

  .header .nav-header__items.open {
    transform: translateX(0%);
  }

  .header .nav-header__items li:last-child:after {
    width: 0;
    height: 0;
  }

  .header .nav-header__item {
    transition: all 0.3s ease 0s;
    padding: 6px 20px;
    position: relative;
  }

  .header .nav-header__item:hover {
    background-color: #d8d0d0;
  }

  .header .nav-header__item:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: 10px;
    background: url("../img/icons/herader/arrow.png") no-repeat;
    transition: all 0.3s ease 0s;
  }

  .header .nav-header .submenu {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100vh;
    padding-left: 15px;
    padding-top: 35px;
    background-color: #fff;
    z-index: 200;
    transform: translateX(-110%);
    transition: all 0.3s ease 0s;
  }

  .header .nav-header .submenu__link {
    display: inline-block;
    padding: 8px 6px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    color: #030d15;
  }

  .header .nav-header .submenu.transformation {
    transform: translateX(0%);
  }

  .header .nav-header .submenu__back {
    display: block;
    position: absolute;
    top: 18px;
    left: 20px;
    padding-left: 8px;
    color: #000;
    font-size: 12px;
    font-weight: 300;
  }

  .header .nav-header .submenu__back:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(45deg);
  }

  .header .burger {
    display: block;
    order: 1;
  }

  .promo__wrap {
    display: block;
  }

  .promo__content {
    max-width: 100%;
  }

  .promo__title {
    font-size: 45px;
    line-height: 55px;
  }

  .promo__text {
    font-size: 18px;
    margin-top: 20px;
  }

  .promo__btn {
    padding: 13px 30px;
    font-size: 14px;
    line-height: 18px;
  }

  .promo__img {
    display: none;
  }

  .about {
    padding-bottom: 30px;
  }

  .about__title {
    font-size: 35px;
    line-height: 45px;
  }

  .about__text {
    margin-top: 30px;
  }

  .about__list li {
    margin-bottom: 10px;
  }

  .newshop__title {
    font-size: 40px;
    line-height: 45px;
  }

  .newshop__subtitle {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .promo__subtitle {
    font-size: 14px;
  }

  .promo__title {
    font-size: 35px;
    line-height: 42px;
  }

  .promo__text {
    font-size: 16px;
  }

  .promo__footer {
    margin-top: 35px;
  }

  .promo__btn {
    margin-right: 15px;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 18px;
  }

  .promo__price {
    font-size: 18px;
  }

  .promo__oldprice {
    font-size: 14px;
  }

  .catalog {
    padding-bottom: 20px;
  }

  .catalog__item {
    display: block;
    text-align: center;
    margin-right: 0;
  }

  .catalog .item-catalog__img {
    margin: 0 auto;
  }

  .catalog .item-catalog__prices {
    justify-content: center;
  }

  .catalog .item-catalog__raiting {
    margin: 0 auto;
  }

  .show__item {
    display: block;
  }

  .show .item-show__today {
    font-size: 16px;
    line-height: 26px;
  }

  .show .item-show__name {
    font-size: 30px;
    line-height: 40px;
  }

  .show .item-show__link {
    font-size: 14px;
    line-height: 20px;
  }

  .show .item-show__img {
    display: none;
  }

  .about__title {
    font-size: 30px;
  }

  .products__title {
    font-size: 35px;
    line-height: 42px;
  }

  .products .catalog-products__item {
    margin-right: 0;
  }

  .newshop__title {
    font-size: 29px;
    line-height: 32px;
  }

  .newshop__subtitle {
    font-size: 14px;
  }

  .newshop__item {
    flex: 1 0 100%;
  }

  .forms {
    text-align: center;
  }

  .forms__title {
    font-size: 21px !important;
  }

  .forms__text {
    width: 100%;
    margin: 0 auto;
  }

  .forms__wrap {
    display: block;
  }

  .forms .feed-form input {
    width: 100%;
  }

  .forms .feed-form__btn {
    width: 80px;
    font-size: 12px;
    line-height: 23px;
  }

  .footer {
    padding-bottom: 120px;
    padding-left: 10px;
  }

  .footer__information {
    grid-column: 1 / 4;
  }

  .footer__menu {
    grid-column: 4 / -1;
  }

  .footer__links {
    display: none;
  }

  .footer__select {
    bottom: -40px;
    left: 0;
  }
}

.webp .item-catalog__img::after{ background: url(../img/icons/herader/cart.webp) 50% 50% no-repeat, #fff; }

.webp .item-catalog__raiting{ background: url(../img/raiting.webp) 0 0/contain no-repeat; }

.webp .show__item{ background: url(../img/show_bg.webp) 0 0/cover no-repeat; }

.webp .about__img{ background: url(../img/about_bg_back.webp) 0 100%/contain no-repeat; }

.webp .about__list li:before{ background: url(../img/about-list-style.webp) 0 0 no-repeat; }

.webp .products__view::after{ background: url(../img/view_arrow.webp) 15px top no-repeat; }

.webp .footer__select{ background: transparent url(../img/icons/footer/selct_lang.webp) no-repeat; }

@media (min-width: 768px){

  .webp .header .nav-header__item:after{ background: url(../img/icons/herader/arrow.webp) no-repeat; }
}

@media (max-width: 768px){

  .webp .header .nav-header__item:after{ background: url(../img/icons/herader/arrow.webp) no-repeat; }
}